*{
    padding: 0;
    margin: 0;
}

#title {
    display: flex;
    justify-content: center;
    color: white;
}

body {
    background-color: rgb(3, 3, 87);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
}

.currentScoreDisplay {
    color: yellow;
    font-size: 20px;
}

.highScoreDisplay {
    color: yellow;
    font-size: 16px;
}

#outputText {
    color: red;
    font-size: 80px;
}

/* #board {
    background-color: black;
} */

/* .grid {
    width: 600px;
    height: 600px;
    border: 1px solid red;
}

.grid div {
    width: 20px;
    height: 20px;
} */

/* .snake {
    background: lightblue;
} */

.apple {
    background: red;
    border-radius: 20px;
}

.playAgainButton {
    width: 100px;
    height: 100px;
    top: 100px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playAgain {
    box-shadow: 2px 2px black;
}

.playAgain:hover {
    background: lavender;
}

.playAgain:active {
    background: darkgrey;
}

.startGame {
    box-shadow: 2px 2px black;
}

.startGame:hover {
    background: lavender;
}

.startGame:active {
    background: darkgrey;
}